:root {
  font-family: Titillium Web, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

*:after {
  box-sizing: border-box;
}

h1 {
  font-weight: 900;
}

.examples {
  display: flex;
  flex-flow: row wrap;
  gap: 2ex;
}

color-token,
text-token,
dims-token {
  flex: 1;
}

color-token {
  flex-basis: 64ch;
}

text-token {
  flex-basis: 72ch;
}

dims-token {
  flex-basis: 100%;
}
